html {
  background-color: rgb(250, 243, 235);
  margin: 0;
  padding: 0;
  min-width: 525px;
}

body {
  background-color: rgb(241, 244, 252);
  border-radius: 25px;
  
}
.container {
  
}

* {
  box-sizing: border-box;
}
